<footer class="footer">
  <p class="links">
    <a href="/86/" title="Home">Home</a>
    <a href="/86/about/" title="About Us">About</a>
    <a href="/86/catalog/" title="Catalog">Catalog</a>
    <a href="mailto:enquiries@unredacted-word.pub" title="Email">Email</a>
    <a href="mailto:orders@unredacted-word.pub" title="Orders">Support</a>
    <a href="https://twitter.com/unredactedword"
      rel="nofollow external noopener" title="Unredacted Word on Twitter">
      <img src="{{ site.data.uris['twitter'].url }}" alt="Twitter logo"
        height=16 width=16></a>
    <a href="https://instagram.com/unredactedword"
      rel="nofollow external noopener" title="Unredacted Word on Instagram">
      <img src="{{ site.data.uris['instagram'].url }}" alt="Instagram logo"
        height=16 width=16></a>
  </p>
  <p class="copyright">
    &copy; 2018-{{ site.time | date: '%Y' }}
    Unredacted Word, LLC
  </p>
</footer>
